.Movie{
    background: white;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap : wrap;
    margin-bottom: 50px;
    text-overflow: ellipsis; /*텍스트가 많은 경우 생략기호로 보여주기*/
    padding : 0 20px;
    border-radius: 5px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.Movie_Column{
    width : 30%;
    box-sizing: border-box;
    text-overflow: ellipsis;
}
.Movie img{
    max-width: 100%;
    position: relative;
    top : -20px;
    margin-right: 10px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.Movie_Column:last-child{
    padding : 20px 0;
    width : 60%;
}

.Movie_Column .Movie_Genres{
    display : flex;
    flex-wrap: wrap;
    margin-right: 10px;
    color : #B4b5bd;
}

.Movie_Column .Move_Synopsis{
    text-overflow: ellipsis;
    color:#B4B5BD;
    overflow: hidden;
}

.Movies h1{
    font-size : 20px;
    font-weight: 600;
}

@media screen and (min-width:320px) and (max-width:667px){
    .Movie{
        width:100%;
    }
}

@media screen and (min-width:320px) and (max-width:667px) and (orientation: portrait){
    .Movie{
        width:100%;
        flex-direction: column;
    }
    .Movie img{
        top:20px;
        left:0;
        width:100%;
    }
    .Movie_Column{
        width:100%!important;
    }
}